body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
}

.main, header nav{
  width: 75%;
  margin: 32px auto;
}

.clicked{
  border-left: 5px solid darkblue;
  font-weight: bold;
  color: darkblue;
  padding-left: 10px;
}

li:hover{
  border-left: 5px solid darkblue;
  font-weight: bold;
  color: darkblue;
  padding-left: 10px;
  cursor:pointer;
}

li{
  list-style: none;
}

header nav a{
  color: darkblue;
  font-weight: bold;
  text-decoration: none;
}
